<%- include("header") -%>

      <div class="box" id="heading">  <h1><%= listTitle %></h1></div>
  
      <div class="box">


      <%  listItems.forEach (function(item){ %>
<div class="item">

  <% let isChecked  = item.checked ? 'checked' : '' %>

  <form action="/check" method="post">
    <input type="hidden" name="check2" value=<%= item._id %>>
    <input type="hidden" name="list" value="<%= listTitle %>">
    <input type="checkbox" name="check" value=<%= item._id %> <%=isChecked %> onChange="this.form.submit()">
  </form>
  
  <p class="<%=isChecked %>" name="p" value=<%= item._id %> > <%= item.name %> </p>

         

         <form class="delete-button-form" action="/delete" method="post">
            <input type="hidden" name="list" value="<%= listTitle %>">
          <button class="delete-button" type="submit" name="delete" value=<%= item._id %>>-</button>
      </form>
</div>
         <%  }); %>
  
 <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off"></input>
        <button class="submit-button" type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>

      </div>

   
   
      <%- include("footer") -%>
